.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100vw;
    height: 60px;
    background-color: rgb(194, 194, 33);
}

.menuItems{
    display: flex;
    width: 100%;
}

.imgLogo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.menuItems h2{
    text-shadow: 1px 1px 5px black;
    margin-right: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.menuItems button{
    width: 120px;
    color: white;
    background-color: black;
}

.menuItems button:hover{
    background-color: grey;
}

